{% load addcss_filter %}

<!-- {{identifier}}Modal -->
<div class="modal fade" id="{{identifier}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{identifier}}ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="{{identifier}}ModalLabel">{{title}}</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="" id="id_{{identifier}}_form" class="form-horizontal" role="form">{% csrf_token %}
        <input type="hidden" name="kitty_id" value="{{k_id}}">
          {% for field in form %}
          <div class="form-group">
          <label class="col-sm-2 control-label" for="id_{{field.html_name}}">{{field.label}}</label>
            <div class="col-sm-5">
              {{ field |addcss:"form-control"}}
              {% for error in field.errors %}
                <strong>{{ error|escape }}</strong>
              {% endfor %}
            </div>
          </div> 
        {% endfor %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="{{onSave}}">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->